<!-- profile -->

<!-- {{name.first}} {{name.last}} -->
<li class="profile-container">
    <span class="profile-header-container">
        <span class="profile-image-container"><img
                src="{{data.image.source}}" /></span>
        <span class="profile-header">
            <h2 class="profile-name">{{name.first}}<br>{{name.last}}</h2>
            <span class="profile-links">
                <ul class="inline">
                    {{#each data.links}}
                    <li><a href="{{this.url}}" target="_blank">{{this.text}}</a></li>
                    {{/each}}
                </ul>
            </span>
        </span>
    </span>

    <span class="profile-definition">

        {{#if data.blurb}}
        <h3 class="profile-definition-section">OVERVIEW</h3>
        <span class="profile-blurb">
            {{#each data.blurb}}
            <p>{{{this}}}</p>
            {{/each}}
        </span>
        {{/if}}

        {{#if data.skillsMatrix}}
        <h3 class="profile-definition-section">SKILLS</h3>
        <span class="profile-skills-matrix">
            <ul class="inline">
                {{#each data.skillsMatrix}}
                <li>{{{this}}}</li>
                {{/each}}
            </ul>
        </span>
        {{/if}}

    </span>
</li>

<!-- / profile -->